.wrapOnIndexPage {
	margin-top: calc(var(--mantine-spacing-md) * -1);
}

.wrapOnSide {
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto auto 1fr auto;
	grid-template-areas: 'filters' 'itemCounts' 'extraBelowItemCounts' 'list' 'pagination';
}

.itemCounts {
	grid-area: itemCounts;
}

.extraBelowItemCounts {
	grid-area: extraBelowItemCounts;
}

.list {
	grid-area: list;
	list-style: none;
}

.list:last-child {
	padding-bottom: var(--mantine-spacing-lg);
}

.wrapOnSide .list {
	padding-bottom: var(--mantine-spacing-md);
	overflow: auto;
	overscroll-behavior: contain;
}

.wrapOnSide .list,
.wrapOnSide .pagination {
	margin-left: calc(var(--mantine-spacing-lg) * -1);
	padding-left: var(--mantine-spacing-lg);
}

/* .listItem {
	overflow: hidden;
	text-overflow: ellipsis;
} */

.filters {
	position: sticky;
	top: 0;
	grid-area: filters;

	background: color-mix(in srgb, var(--mantine-color-body) 80%, transparent);
}

.pagination {
	position: sticky;
	bottom: 0;
	grid-area: pagination;

	background: color-mix(in srgb, var(--mantine-color-body) 80%, transparent);
}
