.wrapOnIndexPage {
	margin-top: calc(var(--mantine-spacing-md) * -1);
}

.list {
	list-style: none;
	/* overflow-wrap: break-word; */
}

.listItem {
	overflow: hidden;
	text-overflow: ellipsis;
}

.filters {
	position: sticky;
	top: 0;

	background: color-mix(in srgb, var(--mantine-color-body) 80%, transparent);
}

.pagination {
	position: sticky;
	bottom: 0;

	background: color-mix(in srgb, var(--mantine-color-body) 80%, transparent);
}
