* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	cursor: default;
	font-family: system-ui, sans-serif;
}

#noscript-error {
	font-size: 2em;
	padding: 2em;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#main {
	margin: 0 auto;
	padding: 30px;
}
