.sticky {
	position: sticky;
	top: 0;

	background: var(--mantine-color-body);

	padding-top: var(--mantine-spacing-md);
	padding-bottom: var(--mantine-spacing-md);
	margin-top: calc(var(--mantine-spacing-md) * -1);
	margin-bottom: calc(var(--mantine-spacing-md) * -1);
}
